
html {
    margin: 0;
    padding: 0;

    
}

body {
    background-image: url(mesjid.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    

}

.img {
    align-items: center;
}

}

.i {
    align-items: center;
}


h1 {
    color: blue;

    
}

p {
    color: blue;
    font-size: x-large;
}

h2 {
    color: lawngreen;
    
}








